.user-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 634px;

}
.user-image {

    max-width: 40%;
    /*max-height: 10%;*/
    aspect-ratio: 1;
}
.user-title{

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;

    /* identical to box height, or 67% */
    text-align: center;
    margin-top: 10px;
    color: #000000;


}
.user-desc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
    /* identical to box height, or 178% */
    text-align: center;

    color: #000000;
}
.user-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    gap: 10px;


    /*width: 204px;*/
    /*height: 70px;*/


    background: #F84646;
    border-radius: 8px;
    ont-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;

    /* identical to box height, or 83% */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 30px;
}